kind: ConfigMap
apiVersion: v1
metadata:
  name: vsftpd-config
data:

  vsftpd.conf: |
    anonymous_enable=YES
    local_enable=NO
    write_enable=YES
    local_umask=022
    anon_upload_enable=YES
    anon_world_readable_only=YES
    hide_ids=YES
    anon_mkdir_write_enable=YES
    dirmessage_enable=YES
    xferlog_enable=YES
    connect_from_port_20=YES
    chown_uploads=YES
    chown_username=ftp
    chown_upload_mode=0660
    anon_umask=002
    xferlog_file=/var/log/vsftpd.log
    xferlog_std_format=YES
    nopriv_user=ftp
    banner_file=/etc/vsftpd/vsftpd.banner
    listen=YES
    secure_email_list_enable=yes
    hide_file=incoming/*
    pasv_min_port={{ .Values.ftp.passive.portMin }}
    pasv_max_port={{ .Values.ftp.passive.portMax }}
    {{- if .Values.ftp.passive.resolveAddress }}
    pasv_addr_resolve=YES
    {{- end }}
    {{- if .Values.ftp.passive.address }}
    pasv_address={{ .Values.ftp.passive.address }}
    {{- end }}
    seccomp_sandbox=NO

  vsftpd.email_passwords: |
    {{- range .Values.ftp.email_passwords.allowed }}
    {{ . }}
    {{- end }}

  vsftpd.banner: |
    {{ .Values.ftp.banner }}
